doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
			h1= title
			p Welcome to HWI's #{title}
			br
			table(class="navTable")
				tr
					td 
						a(href='/') Home
					td 
						a(href='/managerInput') Manager Input
					td
						a(href='/employeeInput') Employee Input
					td
						a(href='/managerRead') Manager Read
					td
						a(href='/employeeRead') Employee Read
			br
			br
			br
			.error=message
			h3 Managers:
			each user in users
				if (user.manager)
					a(href='/managers/'+user._id)='Name: '+user.firstName+' '+user.lastName+' | ID: '+user._id
			h3 Employees:
			each user in users
				if (!user.manager)
					a(href='/employees/'+user._id)='Name: '+user.firstName+' '+user.lastName+' | ID: '+user._id
					br
					br
			br
			br
			br

		footer
			.row
				.col-12
					Created by Dylan Ko, Chris Cathcart, Kyle Moran